---
layout: default
title: "Blog Archive"
teaser: "Click on a headline to read the teaser."
breadcrumb: true
header:
   image_fullwidth: you-can-delete-me-header.png
permalink: "blog/archive/"
---
<div id="blog-index" class="row">
	<div class="small-12 columns t30">
		<h1>{{ page.title }}</h1>
		{% if page.teaser %}<p class="teaser">{{ page.teaser }}</p>{% endif %}

    <ul id="blog-posts" class="posts">
      {% assign counter = 1 %}
      {% for post in site.posts limit:1000 %}
      <li><span>{{ post.date | date_to_string }} &raquo;</span><a href="{{ site.url }}{{ post.url }}"title="Read {{ post.title escape_once }}"><strong> {{ post.title escape_once }}</strong></a></li>
      {% assign counter=counter | plus:1 %}
      {% endfor %}
    </lu>
	</div><!-- /.small-12.columns -->
</div><!-- /.row -->
